div{
	margin-bottom: 10px;
}

#board{
	border-collapse: collapse;
	margin-bottom: 10px;
}

#board td{
	border: 1px solid black;
	width: 60px;
	height: 60px;
	padding: 0;
	text-align: center;
}

.toggleActive{
	background-color: green;
}
