body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #bbeebb;
  display: flex;
  height: 100vh;
  margin: 0;
}

#editor-cnt {
  width: 50%;
  padding: 10px;
  padding-right: 0;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: 'Consolas', 'Courier New', monospace;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  resize: none;
}

.center-content {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#world-grid {
  display: inline-grid;
  gap: 1px;
  height: fit-content;
  margin-top: 20vh;
}

.cell,
.cell div {
  width: 50px;
  height: 50px;
  outline: 1px solid black;
  background-size: cover;
  image-rendering: pixelated;
}

.leaf {
  background-image: url('img/leaf.png');
}

.tree {
  background-image: url('img/tree.png');
}

.shroom {
  background-image: url('img/mushroom.png');
}

.player {
  background-image: url('img/kara.png');
}

#run {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
}
