body {
  text-align: center;
  font-family: 'Consolas', 'Courier New', monospace;
}

#world-grid {
  display: inline-grid;
  gap: 1px;
}

.cell,
.cell div {
  width: 50px;
  height: 50px;
  outline: 1px solid black;
  background-size: cover;
  image-rendering: pixelated;
}

.leaf {
  background-image: url('img/leaf.png');
}

.tree {
  background-image: url('img/tree.png');
}

.shroom {
  background-image: url('img/mushroom.png');
}

.player {
  background-image: url('img/kara.png');
}
